* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #272728;
  height: 50px;
  padding-left: 20px;
  color: white;
  padding-left: 20px;
}

.topMenu {
  display: flex;
  list-style-type: none;
}

.topMenu > li {
  padding: 20px;
}

.topMenu > li:hover {
  color: #ffd500;
}

.toolsMenu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-right: 20px;
}

.toolsMenu li {
  padding: 10px;
}

/* ---------------- BREADCRUMBS ------------ */

.breadCrumbs {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  list-style-type: none;
  margin: 50px;
}

.ballsLine {
  display: flex;
  background-color: #272728;
  height: 5px;
  max-width: 70%;
  justify-content: center;
}
/* ------------ FORM -------------- */

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 50px 0px 50px 200px;
}

.form input {
  margin: 10px 0px;
  padding: 10px;
}

.form input:focus {
  outline: none;
  box-shadow: 2px 2px 10px 2px cornflowerblue;
}

.correct {
  box-shadow: 2px 2px 10px 2px green;
}
.incorrect {
  box-shadow: 2px 2px 10px 2px red;
}

select {
  margin: 10px 0px;
  padding: 10px;
}

/* --------- BUTTONS --------- */

.backClearNext {
  display: flex;
  width: 100%;
  /* position: fixed;
  bottom: 50px; */
  justify-content: space-around;
  background-color: #272728;
  padding: 10px;
  margin: 20px 0px 0px 0px;
}

.backClearNext button {
  background-color: rgb(29, 29, 29);
  font-size: 15px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

/* FOOTER */

.footer {
  display: flex;
  /* position: fixed;
  bottom: 0; */
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f4f4;
  height: 50px;
  font-size: 12px;
}

.websiteMap {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.websiteMap li {
  padding: 5px;
}

.socialFooter {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.socialFooter li {
  padding: 5px;
}
