* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #272728;
  height: 50px;
  padding-left: 20px;
  color: white;
  padding-left: 20px;
}

.logo-menu {
  width: 150px;
  margin-left: 5rem;
}

.topMenu {
  display: flex;
  list-style-type: none;
}

.topMenu > li {
  padding: 20px;
}

.topMenu > li:hover {
  color: #ffd500;
}

.toolsMenu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-right: 20px;
}

.toolsMenu li {
  padding: 10px;
}

.shopping-bag {
  width: 20px;
}

/* ------------ MAIN CONTAINER -------------- */

.main-container {
  display: flex;
  justify-content: center;
}

/* ------------ INDEX -------------- */

.shopping-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding-left: 7rem;
  padding-top: 3rem;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #272728;
}

.activeDot {
  background-color: #272728;
}

.indexElementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------ SECTION -------------- */

.main-section {
  width: 40%;
  /* margin: 50px 0px 50px 200px; */
}

.product {
  padding-top: 3rem;
}

.main-product-container {
  display: flex;
  justify-content: space-around;
}

.main-product {
  max-width: 30rem;
}

.main-product-thumbnail-container {
  display: flex;
  flex-direction: column;
}

.main-product-thumbnail {
  max-width: 3rem;
  padding: 1rem 0;
  cursor: pointer;
}

.main-product-thumbnail:hover {
  border: 1px solid #272728;
}

/* ------------ FORM -------------- */

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.form input {
  margin: 10px 0px;
  padding: 10px;
}

select {
  margin: 10px 0px;
  padding: 10px;
}

/* ------------ ASIDE -------------- */

.main-aside {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
}

.aside-product {
  width: 20rem;
}

.thumbnails-container {
  display: flex;
  flex: 1;
}

.product-thumbnail {
  width: 3rem;
  cursor: pointer;
}

.product-thumbnail:hover {
  border: 1px solid #272728;
}

.buy-button {
  margin-top: 1rem ;
  background-color: rgb(29, 29, 29);
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/* --------- BUTTONS --------- */

.page-navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  bottom: 50px;
  padding: 10px;
  background-color: #272728;
  position: fixed;
}

.page-navigation button {
  background-color: rgb(29, 29, 29);
  font-size: 15px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

/* FOOTER */

.footer {
  display: flex;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  height: 50px;
  font-size: 12px;
  position: fixed;
}

.websiteMap {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.websiteMap li {
  padding: 5px;
}

.socialFooter {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.socialFooter li {
  padding: 5px;
}


/* ------------ NAVIGATION -------------- */

.display-none {
  display: none;
}

.hidden {
  visibility: hidden;
}



/* UTILS */

.bold {
  font-weight: bold;
}